
*{
	padding: 0;
	margin: 0 auto;
	color: white;
}

/***** NavBar *****/
.navbar-default {
    background-color: white;
    border: none;
}

.navbar{
	margin: 0;
}
/* Alto del menú*/
.menu{
	height: 100px;
}
/* Padding logo */
.navbar-brand{
	padding: 40px 150px;
}
/* Tamaño logo */
.navbar-header img{
	width: 100px;
}
/* Elementos del ul*/
.navbar-nav{
	float: right;
	padding: 20px 100px
}
.navbar-nav>li {
    padding: 0 20px;
}

.navbar-default .navbar-nav>li>a{
	font-size: 18px;
	color: #2b2b2b;
}
/* Movile edition */
@media screen,handheld and (max-width: 450px) {
.navbar-toggle {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	}
.navbar-brand{
	padding-left: 50px;
	padding-right: 0;
}
}

/***** First Section ******/
#hero{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-position: bottom;
	height: 800px;
}
/* Row contenedor de todo */
.row-viaja{
	margin-top: 150px;
}
/* Columna que contiene todo*/
.cont-viaja{
	background-color: #f7b617;
	height: 400px;
	padding: 40px;
}
/* Alteramos h tag */
.cont-viaja h1{
	margin-top: 0px;
	margin-bottom: 40px;
}

.cont-viaja h3{
	margin: 10px 0;
}

.cont-viaja img{
	width: 40%;
}
.cont-viaja a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
/* Div contenedor para display flex */
.flex-container{
	width:250px;
	margin-left: 0;
	display:flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 10px ;
}
/* Div para crear línea */
.linea{
	border-bottom: 1px solid white;
	height: 10px;
}
.cont-linea{
	padding-top: 40px ;
}

/* Button Conductor */
.cont-viaja button{
	border: none;
	font-size: 20px;
	margin-top: 40px;
}

/* Movile edition */
@media screen,handheld and (max-width: 450px) {
	#hero{
		height: 500px;
	}
	.cont-viaja{
		height: 250px;
		padding-top: 20px;
	}
	.cont-viaja img{
	margin-left:0;
	}
	.cont-viaja button{
	border-radius: 3px;
	color: black;
	background-color: white;
	font-size: 18px;
	margin-top: 25px;
	padding: 5px;
	}
	 
}
/***** Second Section *****/
#informacion{
	background-color: #f7b617;
	height: 100%;
}
/* Cambiamos medidas por defecto*/
#informacion .container-fluid{
	padding: 0;
}

.info-row{
	margin: 40px 0;

}
/* Margen en columna */
.margin-white{
	border-top: 1px solid white; 
	border-bottom: 1px solid white; 
	border-right: 1px solid white;
	padding: 40px ; 
}
/* Aplicamos alturas a la columna interna */
.margin-white img{
	height: 100%;
}

.col-height{
	height: 350px;
}
/* Cambiamos el tamaño del texto */
.col-height p{
	font-size: 20px;
}

@media screen,handheld and (max-width: 450px) {
	#informacion{
		height: 450px;
	}
	.margin-white{
		border:1px solid white;
		margin-bottom: 25px;
	}
	.col-height {
		height: 200px;
		margin-bottom: 40px;
	}
	.rapido-h4{
		padding-left: 45px;
	}

}

/***** Third Section *****/
#conduce{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}
/* Div contenedor */
.cont-transparente{
	height: 100%;
}
/* Div trasparente */
.trasparente{
	height: 100%;
	background-color: rgba(0,0,0,0.5); 
	padding: 80px 0 ;
}
/* Botón Conductor*/
.trasparente button{
	border: none;
	font-size: 20px;
}

.cont-transparente .col-md-4{
	padding: 80px 40px;
}

/***** Fourth Section *****/
#tarifas{
	background-color: #f7b617;
	height: 550px;
}

.flex input{
	background-color: #f7b617;
	border: 1px solid white;
	padding: 10px;
	padding-right: 100px;
	border-radius: 8px;
	margin-right: 60px;
}

.flex img{
	width: 20px;
	height: 20px;
	margin-right: 30px;
}

.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

#tarifas .col-md-5{
	padding-top: 60px;
}

#tarifas .col-md-4{
	margin-top: 100px;
}
#tarifas h4{
	margin: 30px 0;
}
#map{
	height: 400px;
	width:450px;
	margin-top: 10px;
}

.cont-mapa{
	height: 420px;
	width: 470px;
	border: 1px solid white;
}

#ruta{
	border-radius: 5px;
	background-color: white;
	color: black;
	border: none;
	padding: 10px;
	width: 180px;
	margin-left: 100px;
}

/***** Fifth Section *****/
#footer{
	background-color: #2b2b2b;
	height: 600px;
}
.logo{
	padding: 20px 0;
}
.flex-container{
	display: flex;
}

.cont-border{
	border-bottom: 1px solid white;
	padding-top: 50px;
	justify-content: flex-start;
	width: 100%;
}

.cont-border img{
	margin:0;
}

.cont-enlaces{
	justify-content: space-between;
	width: 100%;
	height: 350px;
	border-bottom: 1px solid white;
}

.first-a{
	width:150px;
	height: 350px;
	justify-content: flex-start;
	flex-direction: column;
	padding: 20px;
}

.cont-enlaces a{
	color: white;
	text-decoration: none;
	padding: 10px 0;

}

.cont-enlaces a:hover{
	color: #f7b617;
}

.app-img{
	width: 150px;
	padding-top: 20px;
}

.cont-app{
	height: 350px;
	padding-top: 200px;
	flex-direction: column;
}

